.page.theme_light {
  --page-bg-color: #fdf2f7;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --button-opaque: #35343066;
  --decor-color: #353430;
  --section-title-color: #353430;
  --section-subtitle-color: #353430;
  --main-text-color: #353430;
  --footer-shadow: #ff8dcb;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__decor-text {
  display: none;
}

.theme_light .header__decor-text::after {
  content: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --page-bg-color: #fdf2f7;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --button-color: #353430;
    --button-opaque: #35343066;
    --decor-color: #353430;
    --section-title-color: #353430;
    --section-subtitle-color: #353430;
    --main-text-color: #353430;
    background-image: url(../images/cover-image-light.png);
  }

  .theme_auto .header__decor-text {
    display: none;
  }

  .theme_auto .header__decor-text::after {
    content: none;
  }
}

@media (width >= 1024px) {
  .page {
    --title-shadow: #ff0070;
  }

  .theme_light .header__title {
    text-shadow: 4px 4px 0 var(--title-shadow);
  }

  .theme_light .footer_logo {
    text-shadow: 2px 2px 0 var(--title-shadow);
  }

  .theme_auto .header__title {
    text-shadow: 4px 4px 0 var(--title-shadow);
  }

  .theme_auto .footer_logo {
    text-shadow: 2px 2px 0 var(--title-shadow);
  }
}
